body {
  margin: 0;
  background-color: #d29fec;
}

main {
  margin: 0 auto;
  width: 700px;
  background-color: #fff;
}

h1 {
  margin-block-start: 10px;
  text-align: center;
  font-family: 'Lexend Giga', sans-serif;
  font-size: 70px;
  color: #f7d08b;
  text-shadow: 5px 0 0 black;
}

.message-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.delete {
  background-color: white;
  color: red;
  border: none;
  outline: none;
  font-size: 20px;
}

.delete:hover {
  background-color: red;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

hr {
  margin: 10px;
  border: 0.5px solid #d29fec;
  box-sizing: border-box;
}

main hr:last-child {
  border-color: white;
}

@media (max-width: 700px) {
  main {
    margin: 0;
    width: 100vw;
  }

  h1 {
    font-size: 40px;
    text-shadow: 3px 0 0 black;
  }
}